################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/SocialMedia_BE/.vs/SocialMedia_BE/FileContentIndex/2b64ea90-fb7e-48f8-94f5-552926a3e51e.vsidx
/SocialMedia_BE/.vs/SocialMedia_BE/FileContentIndex/3d77806f-6382-4428-b65f-5018c30a4699.vsidx
/SocialMedia_BE/.vs/SocialMedia_BE/FileContentIndex/bf7701be-fba4-4ed5-8979-9ba7995e1c21.vsidx
/SocialMedia_BE/.vs/SocialMedia_BE/FileContentIndex
